:root {
  --primary-color: #1b1b32;
  --secondary-color: #f5f6f7;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
